
*.db
*.ipch
*.obj
*.obj
*.obj
*.tlog
*.obj
*.obj
QtGuiApplication1WTF/QtGuiApplication1WTF/FFTW/Release/ftw_7.obj
QtGuiApplication1WTF/QtGuiApplication1WTF/FFTW/Release/ftw_7.obj
QtGuiApplication1WTF/QtGuiApplication1WTF/FFTW/Release/ftwi_10.obj
QtGuiApplication1WTF/.vs/QtGuiApplication1WTF/v15/.suo
*.opendb
*.db
QtGuiApplication1WTF/.vs/QtGuiApplication1WTF/v15/.suo
*.obj
QtGuiApplication1WTF/QtGuiApplication1WTF/FFTW/Release/fhf_32.obj
*.tlog
*.obj
